body{
	background-color: #FFFFFF;
  	background-image: url(./img/bg.png);
	text-align: center;
}

p{
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-weight: normal;
	color: #0d0d0d;
	letter-spacing: 2pt;
	word-spacing: 4pt;
	font-size: 12px;
	text-align:center;
	font-family: helvetica, sans-serif;
	line-height: 1.5;
}

h2{
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-weight: normal;
	color: #212121;
	letter-spacing: 3pt;
	word-spacing: 6pt;
	font-size: 22px;
	text-align:center;
	font-family: helvetica, sans-serif;
	line-height: 1;
}

h2.tPad{
	padding-top: 50px;
}

}

a:link {
    color: #FF4081;
    text-decoration: none;
}
a:visited {
    color: #FF4081;
    text-decoration: none;
}
a:hover {
    color: #B2DFDB;
    text-decoration: none;
}
a:active {
    color: #B2DFDB;
    text-decoration: none;
}

.cover{
	width: 80%;
}

.password{
	width:200px; 
    height:200px; 
    position: fixed;
    top: 50%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px; 
}

.center {
  margin: auto;
  width: 80%;
}
.credits {
  margin: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2px;
}

#title{

}

#albumart{
	position: absolute;
	top: 50px;
}

#soundcloud{
float: right;
position: absolute;
width: 800px;
right: 100px;
}

#description{
float: left;
width: 800px;
position: absolute;
left: 100px;
background-color: rgba(255, 255, 255, 0.5);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 8px;
}

#socials{
float: right;
position: relative;
width: 800px;
right: 10px;
}

#pastwork{
float: right;
position: relative
right: 10px;
}

#vids{

}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}